<section>
	<h3>About MySelf</h3>
	<div class="face-lockup">
		<div class="face-img">      </div>
		<div class="icon-pencil"> {% include icons/icon-pencil.html %}  </div>
		<div class="icon-mouse">  {% include icons/icon-mouse.html %}  </div>
		<div class="icon-browser"> {% include icons/icon-browser.html %} </div>
		<div class="icon-video"> {% include icons/icon-video.html %}   </div>
	</div>

	
	<div class="blurb">
		<p>
			
			<strong>Curabitur vulputate, ligula lacinia. </strong> Scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 


		</p>
	</div>

	<div class="skill-lockup">
		<div class="skill-unit">
			<div class="skill-label">Communication</div>
			<div class="skill-icon skill-9">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Organization</div>
			<div class="skill-icon skill-7">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Learning</div>
			<div class="skill-icon skill-10">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Teaching</div>
			<div class="skill-icon skill-10">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Planning</div>
			<div class="skill-icon skill-8">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Visual Design</div>
			<div class="skill-icon skill-10">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">UX Design</div>
			<div class="skill-icon skill-7">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label skill-9">Programming</div>
			<div class="skill-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		
	</div>


</section>
<hr>