.alt-section
	background-color: #eee

.section-work
	// hide over flow on sides 
	overflow-x: hidden

.work-belt
	width: 200%
	position: relative
	left: 0%
	+transition

.work-wrap, .thumb-wrap
	width: 50%
	float: left


.thumb-container
	max-width: 960px
	margin: 0 auto 
	padding-bottom: 100px
	+clearfix

	.thumb-unit
		display: block
		width: 25%
		float: left
		position: relative
		padding-top: 18%
		overflow: hidden

		background:
			position: center center
			repeat: no-repeat
			size: cover

		.thumb-overlay
			+position(absolute, 100% 0px null 0px)
			height: 100%
			background-color: fade-out($accent-color, 0.1)
			text-align: center
			+transition
			+display(flex)
			+align-items(center)
			+justify-content(space-around)

			strong
				display: block
				padding: 0 20px
				color: white 
				font-weight: 300
				text-transform: uppercase
				font-size: em(24) 
				line-height: 1.2



		&:hover .thumb-overlay 
			+position(absolute, 0% 0px null 0px)
			

.work-container
	max-width: 600px
	margin: 0px auto
	position: relative
	display: none

	h4
		color: $accent-color
		font-weight: 300
		text-transform: uppercase
		font-size: em(24) 
		line-height: 1.2
		margin-top: 0px

	.work-item
		background-color: white
		border-bottom-left-radius: 1%
		border-bottom-right-radius: 1%
		img
			max-width: 100%
			margin-bottom: 20px

		p 
			text-align: center
			padding: 10px 0 10px 0


	.work-return
		+size(40px)
		cursor: pointer
		opacity: 0.5
		+position(absolute, -6px null null -60px)

		path 	
			fill: rgba(0,0,0, 0.4)

		&:hover
			opacity: 1


/////////////////////////////////////
///////////  MEDIA 
/////////////////////////////////////

@media screen and (max-width: 740px)

	.thumb-container

		.thumb-unit
			width: 50%
			padding-top: 25%

	.work-container
		.work-return
			left: 0px

		h4
			margin-left: 60px


/////////////////////////////////////
///////////  MEDIA 
/////////////////////////////////////

@media screen and (max-width: 500px)
	
	.thumb-container
		.thumb-unit
			padding-top: 35%

